---
import groq from "groq"
import sanityClient from "lib/sanityClient"
import { Show } from "astro-control"
import BaseLayout from "layouts/BaseLayout.astro"
import { Post } from "lib/interfaces"

const query = groq`{
  "post": *[_type == "post"][0]{
    body[]
  }
}`

const response = await sanityClient.fetch(query)
const data: {
  post: Post
} = await response
const { post } = data as { post: Post }
---
<BaseLayout title="Portable Text Component">
  <section>
    {post.body.map(block =>
      <Show when={block.style === "h1"}>
        <h1 class="h1">{block.children[0].text}</h1>
      </Show>
      <Show when={block.style === "h2"}>
        <h2>{block.children[0].text}</h2>
      </Show>
      <Show when={block.style === "h3"}>
        <h3>{block.children[0].text}</h3>
      </Show>
      <Show when={block.style === "h4"}>
        <h4>{block.children[0].text}</h4>
      </Show>
      <Show when={block.style === "normal"}>
        <p>
          <Show when={block.children[0].marks[0] === "em"}>
            <em>{block.children[0].text}</em>
          </Show>
          <Show when={block.children[0].marks[0] === "strong"}>
            <strong>{block.children[0].text}</strong>
          </Show>
          <Show when={!block.children[0].marks[0]}>
            {block.children[0].text}
          </Show>
        </p>
      </Show>
    )}
  </section>
</BaseLayout>

